@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#insta {
    display: inline;
    float: left;
    margin: 500px 42px;
}

#twitch {
    display: inline;
    float: left;
    margin-left: 7%;
}

#youtube {
    display: inline;
    float: left;
    margin-left: 7%;
}

li {
    border-style: groove;
    border-radius: 25px 25px;
    border-color: darkblue;
    margin: 15px;
    padding: 20px;
}

#logo {
    height: 100px;
    float: right;
    display: inline;
    border-style: groove;
    border-radius: 15px 15px;
}

body {
    font-family: 'Indie Flower', serif;
    background: #ffffff url("background.png") center center/cover no-repeat;

    /*background-color: #29206f;*/
    color: white;
    margin: 0;
    display: block;
}

h1 {
    text-align: center;
    color: darkgreen;
    font-size: 4rem;
    filter: drop-shadow(0px 0px 5px currentColor);

}
h2 {
    text-align: center;
    color: darkorange;
    font-size: 2rem;
    filter: drop-shadow(0px 0px 5px currentColor);

}

.title {
    color: green;
    font-size: 1rem;
}

.rank {
    color: darkblue;
}

.last-games {
    display: inline;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
}

.main .navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.main .navigation span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7px;
    height: 7px;
    cursor: pointer;
}


